*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #f3f9a7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #cac531,
    #f3f9a7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #cac531,
    #f3f9a7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Poppins", sans-serif;
}

header,
.addHabits,
.habit-tabs,
.grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addHabits input,
.addHabits button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: white;
}

.addHabits button {
  color: #cac531;
  cursor: pointer;
  transition: all 0.3s ease;
}
.addHabits button:hover {
  color: white;
  background-color: #cac531;
  cursor: pointer;
  transition: all 0.3s ease;
}

.habit-tabs button {
  border: none;
  padding: 1rem;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.habit-tabs button:hover {
  color: white;
}

.calendar {
  width: 560px;
}

.calendar {
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
}

.calendar-cell {
  width: 80px;
  height: 60px;
  /* border: px solid black; */
}
.calendar-cell:hover {
  transform: scale(105%);
  background-color: #cac531;
}
.calendar-head {
  height: 20px;
  font-weight: bold;
  font-size: smaller;
  text-align: center;
}

.calendar-day {
  padding: 2px;
  text-align: center;
  color: black;
  transition: all 0.2s ease-in-out;
}

.mini {
  background-color: chartreuse;
  color: black;
}

.plus {
  background-color: dodgerblue;
  color: white;
}

.elite {
  background-color: firebrick;
  color: white;
}
