:root {
  --primary-color: #616161;
  --primary-color-light: #8e8e8e;
  --primary-color-dark: #373737;

  --secondary-color: #d32f2f;
  --secondary-color-light: #ff6659;
  --secondary-color-dark: #9a0007;

  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --error-color: #ffffff;

  --text-on-primary: #ffffff;
  --text-on-secondary: #ffffff;
  --text-on-background: #000000;
  --text-on-surface: #000000;
  --text-on-error: #000000;

  --main-bg-color: #ff5f6d;
  --second-bg-color: #ffc371;
  --button-main-color: #ff5f6d;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: darkslategrey; /* fallback for old browsers */

  font-family: "Poppins", sans-serif;

  display: grid;
  grid-template-rows: 10vh 1fr;
  grid-template-columns: 1fr 20vw;
  grid-template-areas:
    "navbar navbar"
    "content sidebar";
  background: var(--background-color); /* fallback for old browsers */
}

.navbar {
  grid-area: navbar;
  background: var(--primary-color);
  font-family: "Lobster", cursive;
  color: var(--text-on-primary);
  display: flex;
  align-items: center;
  /* box-shadow: 0 0 1em black; */
}

.navbar h1 {
  margin-left: 20vw;
  font-size: 2.5rem;
  text-transform: capitalize;
}
.sidebar {
  background: var(--primary-color-light);
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* box-shadow: 0 1em 1em black; */
}

.months ul {
  list-style-type: none;
}

.addbutton {
  display: flex;
  justify-content: flex-end;
}

#addmonth {
  background: var(--secondary-color-dark);
  color: var(--primary-color-light);
  border-radius: 100%;
  border: none;
  outline: none;
  margin: 2vh;
  width: 5rem;
  height: 5rem;
  font-size: 2.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  transition: 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#addmonth:hover {
  background: var(--secondary-color-light);
}
/* #addmonth:focus {
  transform: scale(1.1);
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
} */

.content {
  grid-area: content;
  display: grid;
  grid-template-rows: 1fr 1fr 70%;

  padding: 1vh 20vw 10vh 20vw;
  /* justify-items: center; */
}

.content h1 {
  justify-self: center;
}
.addHabits {
  justify-self: center;
  display: flex;
  align-items: center;
}
.habit-tabs {
  display: flex;
  justify-content: space-around;
}

.addHabits input {
  text-align: center;
}
.addHabits input,
.addHabits button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: var(--surface-color);
  color: var(--secondary-color);
}

.addHabits button {
  color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.3s ease;
}
.addHabits button:hover {
  color: var(--surface-color);
  background-color: var(--secondary-color);
  transition: all 0.3s ease;
}

.habit-tabs button {
  border: none;
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.habit-tabs button:hover {
  color: var(--secondary-color);
}

.calendar {
  justify-self: stretch;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2%;
}

.calendar-cell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-cell:hover {
  transform: scale(115%);
  /* background-color: #cac531; */
}

.calendar-head {
  font-weight: bold;
  font-size: 1rem;
  align-items: flex-end;
  padding: 10% 0%;
}

.calendar-day {
  padding: 2px;
  color: black;
  transition: all 0.2s ease-in-out;
  background: var(--surface-color);
}

.mini {
  background-color: #388e3c;
  color: black;
}

.plus {
  background-color: #1565c0;
  color: white;
}

.elite {
  background-color: var(--secondary-color-dark);
  color: white;
}

.active-tab {
  color: var(--secondary-color-dark);
  text-decoration: underline;
}
